
body {
    background-color: whitesmoke;
}
header {
    background-color: rgb(58, 193, 247);
    height: 2em;
    text-align: center;
    padding: 2em;
    position: relative;
    margin-bottom: 5px;
}
.btn {
    background-color: DodgerBlue;
    border: none;
    color: white;
    padding: 12px 16px;
    font-size: 16px; 
    cursor: pointer; 
}

.btn:hover {
    background-color: RoyalBlue;
}
.name {
    position: relative;
    top: 0.5em;
    left: 0.65em;
    border: rgba(0, 171, 238, 1);
    background-color:rgba(0, 171, 238, 0.1);
    border-style: hidden hidden hidden solid;
    padding-bottom: 5px;
    width: 98.505%;
    padding-left: 5px;
}
.skillname{
    list-style: none;
    display: block; 
    list-style-type: none;
}
li {
    transform: translate(-1.25em, 0)
}
ul {
	border: rgba(0, 171, 238, 1);
	background-color: rgba(0, 171, 238, 0.1);
	border-style: hidden hidden hidden solid;
	padding-bottom: 5px;
	position: relative;
	top: 0.5em;
	left: 0.65em;
	border-width: 0.2em;
    padding-left: 25px;
    padding-top: 5px;
    width: 97%;
}
.classdiv {
    display: none;
    border: rgba(0, 171, 238, 1);;
    border-style: hidden hidden hidden solid;
    background-color:rgba(0, 171, 238, 0.05);
    padding-bottom: 5px;
    border-width: 0.2em;
}
.show {
    display: block;
}
.buttons{
    margin-top: 5px;
    position: absolute;
    left: 50%;
    transform: translate(-50%, 0);
}
.none {
    list-style: none;
    display: block; 
    list-style-type: none;
    padding-left: 0em;
}
.ion {
    list-style: none;
    display: block; 
    list-style-type: none;
    background: no-repeat url(./img/ion_b.svg);
    padding-left: 18px;
    transform: none;
}
.blast {
    list-style: none;
    display: block; 
    list-style-type: none;
    background: no-repeat url(./img/blast_b.svg);
    padding-left: 18px;
    transform: none;
}
.sla {
    list-style: none;
    display: block; 
    list-style-type: none;
    background: no-repeat url(./img/slash_b.svg);
    padding-left: 18px;
    transform: none;
}
.punct {
    list-style: none;
    display: block; 
    list-style-type: none;
    background: no-repeat url(./img/punct_b.svg);
    padding-left: 18px;
    transform: none;
}
.beam {
    list-style: none;
    display: block; 
    list-style-type: none;
    background: no-repeat url(./img/beam_b.svg);
    padding-left: 18px;
    transform: none;
}
.ray {
    list-style: none;
    display: block; 
    list-style-type: none;
    background: no-repeat url(./img/ray_b.svg);
    padding-left: 18px;
    transform: none;
}
.impact {
    list-style: none;
    display: block; 
    list-style-type: none;
    background: no-repeat url(./img/imp_b.svg);
    padding-left: 18px;
    transform: none;
}
.cost {
    list-style: none;
    display: block; 
    list-style-type: none;
    background: no-repeat url(./img/i_b.svg);
    padding-left: 18px;
}
.dur {
    list-style: none;
    display: block; 
    list-style-type: none;
    background: no-repeat url(./img/dur_b.svg);
    padding-left: 18px;
}
